# Copyright (c) 2025, ETH Zurich

/target
__pycache__/
.pytest_cache/
*.py[cod]
venv/

build*/

*slurm*
*-checkpoint*
*.ipynb_checkpoints

**/CMakeFiles

fastwave

cmake_install*

*.a

*Makefile

*.DS_Store